extends layout

block content
    h1= title
    div.newemployee
        form( method = "post" )
             div
                div
                   span.label Name :
                   input(type="text", name="name", id="editEmployeeTitle")
                div
                   span.label City :
                   input(type="text", name="city", id="editEmployeeTitle")
                   br
                   br
                   br
                div#editEmployeeSubmit
                   input(type="submit", value="Search")
         a(href="/employee/new")!= "Show all names and ciies"
